{% extends "base.html" %}

{% block title %}
Homepage
{% endblock %}

{% block style %}
    /* Remove box-shadow from the global div rule */
    div {
        width: 70%;
        padding: 2px;
        text-align: center;
        margin: 5px auto; /* Fixed spacing */
    }

    /* Apply box-shadow specifically to the card */
    .card {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        margin: 50px; /* Optional: Add spacing between cards */
    }
{% endblock %}

{% block content %}


<div class="container">
    <div class="row">
        <!-- Card 1 -->
        <div class="col-md-6">
            <div class="card">
                <img src="{{ url_for('static', filename='1_sMryEXZVPKFjGNcfSzE8Mw-768x432.jpeg') }}" class="card-img-top" alt="Placeholder image">

                <div class="card-body">
                    <h5 class="card-title">DSA & Databases</h5>
                    <p class="card-text">Notes & Links</p>
                    <a href="https://www.notion.so/Data-Structure-Algorithms-161844635e97804b842ed7d2dbe1760c" class="btn btn-primary">Notion Notes</a>
                    <hr>
                    <a href="https://www.geeksforgeeks.org/dsa-tutorial-learn-data-structures-and-algorithms/" class="btn btn-primary">Geek for Geeks</a>
                     <hr>
                    <a href="https://canvas.bham.ac.uk/courses/78940" class="btn btn-primary">Canvas DSA</a>
                </div>
            </div>
        </div>

        <!-- Card 2 -->
        <div class="col-md-6">
            <div class="card">
                <img src="{{ url_for('static', filename='0_Sqt3Soyk6U1LzxyU.jpeg') }}" class="card-img-top" alt="Placeholder image">

                <div class="card-body">
                    <h5 class="card-title">Building Usable Software</h5>
                    <p class="card-text">Notes & Links</p>
                    <a href="https://www.notion.so/Building-usable-software-181844635e9780fcbd42c961c0215d6f" class="btn btn-primary">Notion Notes</a>
                     <hr>
                    <a href="https://www.geeksforgeeks.org/dsa-tutorial-learn-data-structures-and-algorithms/" class="btn btn-primary">Geek for Geeks</a>
                    <hr>
                    <a href="https://canvas.bham.ac.uk/courses/78939" class="btn btn-primary">Canvas Building Usable Software</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
