<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Application</title>


</head>
<body>
    <h1>Hello from HTML</h1>
    <h1>Hello {{content}}</h1>
    <h2>Hello {{randomint}}</h2>
    <h3>{{datetimenow}}</h3>

    {% for x in range(1,10) %}
        {% if x % 2 == 1%}
        <p>Hello  {{x}}</p>
        {% endif %}
    {% endfor %}

    {% for _ in range(1,11) %}
        <p>{{_}}</p>
    {% endfor %}

    {%for x in name_list%}

    <p>{{x}}</p>

    {% endfor %}


</body>
</html>